{
  "extends": "@myparcel/eslint-config/preset-es6",
  "env": {
    "node": true
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "jsdoc/valid-types": "off",
    "max-len": "off",
    "no-template-curly-in-string": "off"
  }
}
