name: Deprecate old packages

on:
  workflow_dispatch:

jobs:
  deprecate:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Deprecate all packages
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set //registry.npmjs.org/:_authToken=${NPM_TOKEN}
          
          # Config packages
          npm deprecate "@myparcel/semantic-release-config" "DEPRECATED: Will be moved to @myparcel-dev/semantic-release-config" || echo "Skipped @myparcel/semantic-release-config"
          npm deprecate "@myparcel/prettier-config" "DEPRECATED: Will be moved to @myparcel-dev/prettier-config" || echo "Skipped @myparcel/prettier-config"
          npm deprecate "@myparcel/eslint-config" "DEPRECATED: Will be moved to @myparcel-dev/eslint-config" || echo "Skipped @myparcel/eslint-config"
          
          # Core packages
          npm deprecate "@myparcel/constants" "DEPRECATED: Will be moved to @myparcel-dev/constants" || echo "Skipped"
          npm deprecate "@myparcel/ts-utils" "DEPRECATED: Will be moved to @myparcel-dev/ts-utils" || echo "Skipped"
          npm deprecate "@myparcel/sdk" "DEPRECATED: Will be moved to @myparcel-dev/sdk" || echo "Skipped"
          npm deprecate "@myparcel-pdk/app-builder" "DEPRECATED: Will be moved to @myparcel-dev/app-builder" || echo "Skipped"
          npm deprecate "@myparcel-do/shared" "DEPRECATED: Will be moved to @myparcel-dev/do-shared" || echo "Skipped"
          npm deprecate "@myparcel/delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/delivery-options" || echo "Skipped"
          
          # PDK packages
          npm deprecate "@myparcel-pdk/common" "DEPRECATED: Will be moved to @myparcel-dev/common" || echo "Skipped"
          npm deprecate "@myparcel-pdk/checkout-common" "DEPRECATED: Will be moved to @myparcel-dev/checkout-common" || echo "Skipped"
          npm deprecate "@myparcel-pdk/checkout" "DEPRECATED: Will be moved to @myparcel-dev/checkout" || echo "Skipped"
          npm deprecate "@myparcel-pdk/checkout-js" "DEPRECATED: Will be moved to @myparcel-dev/checkout-js" || echo "Skipped"
          npm deprecate "@myparcel-pdk/checkout-tax-fields" "DEPRECATED: Will be moved to @myparcel-dev/checkout-tax-fields" || echo "Skipped"
          npm deprecate "@myparcel-pdk/checkout-separate-address-fields" "DEPRECATED: Will be moved to @myparcel-dev/checkout-separate-address-fields" || echo "Skipped"
          npm deprecate "@myparcel-pdk/checkout-delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/checkout-delivery-options" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin" "DEPRECATED: Will be moved to @myparcel-dev/admin" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-js" "DEPRECATED: Will be moved to @myparcel-dev/admin-js" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-component-tests" "DEPRECATED: Will be moved to @myparcel-dev/admin-component-tests" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-preset-bootstrap4" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-bootstrap4" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-preset-dashicons" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-dashicons" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-preset-fontawesome" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-fontawesome" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-preset-default" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-default" || echo "Skipped"
          
          # Other packages
          npm deprecate "@myparcel/semantic-release-wordpress-readme-generator" "DEPRECATED: Will be moved to @myparcel-dev/semantic-release-wordpress-readme-generator" || echo "Skipped"
          npm deprecate "@myparcel/semantic-release-release-notes-generator" "DEPRECATED: Will be moved to @myparcel-dev/semantic-release-release-notes-generator" || echo "Skipped"
          npm deprecate "@myparcel/checkout" "DEPRECATED: Will be moved to @myparcel-dev/checkout" || echo "Skipped"
          npm deprecate "@myparcel/js-sdk" "DEPRECATED: Will be moved to @myparcel-dev/js-sdk" || echo "Skipped"
          npm deprecate "@myparcel/vue-form-builder" "DEPRECATED: Will be moved to @myparcel-dev/vue-form-builder" || echo "Skipped"
          npm deprecate "@myparcel/vue-form-builder-js" "DEPRECATED: Will be moved to @myparcel-dev/vue-form-builder-js" || echo "Skipped"
          npm deprecate "@myparcel-vfb/build-tsup" "DEPRECATED: Will be moved to @myparcel-dev/build-tsup" || echo "Skipped"
          npm deprecate "@myparcel-vfb/build-vite" "DEPRECATED: Will be moved to @myparcel-dev/build-vite" || echo "Skipped"
          npm deprecate "@myparcel-vfb/utils" "DEPRECATED: Will be moved to @myparcel-dev/utils" || echo "Skipped"
          npm deprecate "@myparcel-vfb/hook-manager" "DEPRECATED: Will be moved to @myparcel-dev/hook-manager" || echo "Skipped"
          npm deprecate "@myparcel-vfb/plugin" "DEPRECATED: Will be moved to @myparcel-dev/plugin" || echo "Skipped"
          npm deprecate "@myparcel-vfb/core" "DEPRECATED: Will be moved to @myparcel-dev/core" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/frontend-delivery-options" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-components" "DEPRECATED: Will be moved to @myparcel-dev/admin-components" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-core" "DEPRECATED: Will be moved to @myparcel-dev/frontend-core" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-checkout-core" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-core" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-common" "DEPRECATED: Will be moved to @myparcel-dev/frontend-common" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-admin-core" "DEPRECATED: Will be moved to @myparcel-dev/frontend-admin-core" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-checkout-tax-fields" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-tax-fields" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-checkout-separate-address-fields" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-separate-address-fields" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-checkout-delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-delivery-options" || echo "Skipped"
          npm deprecate "@myparcel-pdk/frontend-form-builder" "DEPRECATED: Will be moved to @myparcel-dev/frontend-form-builder" || echo "Skipped"
          npm deprecate "@myparcel-pdk/delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/delivery-options" || echo "Skipped"
          npm deprecate "@myparcel-pdk/e2e" "DEPRECATED: Will be moved to @myparcel-dev/e2e" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-testing" "DEPRECATED: Will be moved to @myparcel-dev/admin-testing" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-common" "DEPRECATED: Will be moved to @myparcel-dev/admin-common" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-form-builder" "DEPRECATED: Will be moved to @myparcel-dev/admin-form-builder" || echo "Skipped"
          npm deprecate "@myparcel-pdk/checkout-core" "DEPRECATED: Will be moved to @myparcel-dev/checkout-core" || echo "Skipped"
          npm deprecate "@myparcel-pdk/admin-core" "DEPRECATED: Will be moved to @myparcel-dev/admin-core" || echo "Skipped"
          
          echo "Deprecation workflow completed (skipped packages that don't exist)"
