name: Deprecate old packages

on:
  workflow_dispatch:

jobs:
  deprecate:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Deprecate all packages
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          set -e
          npm config set //registry.npmjs.org/:_authToken=${NPM_TOKEN}
          
          # Config packages
          npm deprecate "@myparcel/semantic-release-config" "DEPRECATED: Will be moved to @myparcel-dev/semantic-release-config"
          npm deprecate "@myparcel/prettier-config" "DEPRECATED: Will be moved to @myparcel-dev/prettier-config"
          npm deprecate "@myparcel-eslint/eslint-config-esnext" "DEPRECATED: Will be moved to @myparcel-dev/eslint-config-esnext"
          npm deprecate "@myparcel-eslint/eslint-config-import" "DEPRECATED: Will be moved to @myparcel-dev/eslint-config-import"
          npm deprecate "@myparcel-eslint/eslint-config-node" "DEPRECATED: Will be moved to @myparcel-dev/eslint-config-node"
          npm deprecate "@myparcel-eslint/eslint-config-prettier" "DEPRECATED: Will be moved to @myparcel-dev/eslint-config-prettier"
          npm deprecate "@myparcel-eslint/eslint-config-prettier-typescript" "DEPRECATED: Will be moved to @myparcel-dev/eslint-config-prettier-typescript"
          npm deprecate "@myparcel-eslint/eslint-config-prettier-typescript-vue" "DEPRECATED: Will be moved to @myparcel-dev/eslint-config-prettier-typescript-vue"
          
          # Core packages
          npm deprecate "@myparcel/constants" "DEPRECATED: Will be moved to @myparcel-dev/constants"
          npm deprecate "@myparcel/ts-utils" "DEPRECATED: Will be moved to @myparcel-dev/ts-utils"
          npm deprecate "@myparcel/sdk" "DEPRECATED: Will be moved to @myparcel-dev/sdk"
          npm deprecate "@myparcel-pdk/app-builder" "DEPRECATED: Will be moved to @myparcel-dev/app-builder"
          npm deprecate "@myparcel-do/shared" "DEPRECATED: Will be moved to @myparcel-dev/do-shared"
          npm deprecate "@myparcel/delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/delivery-options"
          
          # PDK packages
          npm deprecate "@myparcel-pdk/common" "DEPRECATED: Will be moved to @myparcel-dev/common"
          npm deprecate "@myparcel-pdk/checkout-common" "DEPRECATED: Will be moved to @myparcel-dev/checkout-common"
          npm deprecate "@myparcel-pdk/checkout" "DEPRECATED: Will be moved to @myparcel-dev/checkout"
          npm deprecate "@myparcel-pdk/checkout-js" "DEPRECATED: Will be moved to @myparcel-dev/checkout-js"
          npm deprecate "@myparcel-pdk/checkout-tax-fields" "DEPRECATED: Will be moved to @myparcel-dev/checkout-tax-fields"
          npm deprecate "@myparcel-pdk/checkout-separate-address-fields" "DEPRECATED: Will be moved to @myparcel-dev/checkout-separate-address-fields"
          npm deprecate "@myparcel-pdk/checkout-delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/checkout-delivery-options"
          npm deprecate "@myparcel-pdk/admin" "DEPRECATED: Will be moved to @myparcel-dev/admin"
          npm deprecate "@myparcel-pdk/admin-js" "DEPRECATED: Will be moved to @myparcel-dev/admin-js"
          npm deprecate "@myparcel-pdk/admin-component-tests" "DEPRECATED: Will be moved to @myparcel-dev/admin-component-tests"
          npm deprecate "@myparcel-pdk/admin-preset-bootstrap4" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-bootstrap4"
          npm deprecate "@myparcel-pdk/admin-preset-dashicons" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-dashicons"
          npm deprecate "@myparcel-pdk/admin-preset-fontawesome" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-fontawesome"
          npm deprecate "@myparcel-pdk/admin-preset-default" "DEPRECATED: Will be moved to @myparcel-dev/admin-preset-default"
          
          # Other packages
          npm deprecate "@myparcel/semantic-release-wordpress-readme-generator" "DEPRECATED: Will be moved to @myparcel-dev/semantic-release-wordpress-readme-generator"
          npm deprecate "@myparcel/semantic-release-release-notes-generator" "DEPRECATED: Will be moved to @myparcel-dev/semantic-release-release-notes-generator"
          npm deprecate "@myparcel/checkout" "DEPRECATED: Will be moved to @myparcel-dev/checkout"
          npm deprecate "@myparcel/js-sdk" "DEPRECATED: Will be moved to @myparcel-dev/js-sdk"
          npm deprecate "@myparcel/vue-form-builder" "DEPRECATED: Will be moved to @myparcel-dev/vue-form-builder"
          npm deprecate "@myparcel/vue-form-builder-js" "DEPRECATED: Will be moved to @myparcel-dev/vue-form-builder-js"
          npm deprecate "@myparcel-vfb/build-tsup" "DEPRECATED: Will be moved to @myparcel-dev/build-tsup"
          npm deprecate "@myparcel-vfb/build-vite" "DEPRECATED: Will be moved to @myparcel-dev/build-vite"
          npm deprecate "@myparcel-vfb/utils" "DEPRECATED: Will be moved to @myparcel-dev/utils"
          npm deprecate "@myparcel-vfb/hook-manager" "DEPRECATED: Will be moved to @myparcel-dev/hook-manager"
          npm deprecate "@myparcel-vfb/plugin" "DEPRECATED: Will be moved to @myparcel-dev/plugin"
          npm deprecate "@myparcel-vfb/core" "DEPRECATED: Will be moved to @myparcel-dev/core"
          npm deprecate "@myparcel-pdk/frontend-delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/frontend-delivery-options"
          npm deprecate "@myparcel-pdk/admin-components" "DEPRECATED: Will be moved to @myparcel-dev/admin-components"
          npm deprecate "@myparcel-pdk/frontend-core" "DEPRECATED: Will be moved to @myparcel-dev/frontend-core"
          npm deprecate "@myparcel-pdk/frontend-checkout-core" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-core"
          npm deprecate "@myparcel-pdk/frontend-common" "DEPRECATED: Will be moved to @myparcel-dev/frontend-common"
          npm deprecate "@myparcel-pdk/frontend-admin-core" "DEPRECATED: Will be moved to @myparcel-dev/frontend-admin-core"
          npm deprecate "@myparcel-pdk/frontend-checkout-tax-fields" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-tax-fields"
          npm deprecate "@myparcel-pdk/frontend-checkout-separate-address-fields" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-separate-address-fields"
          npm deprecate "@myparcel-pdk/frontend-checkout-delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/frontend-checkout-delivery-options"
          npm deprecate "@myparcel-pdk/frontend-form-builder" "DEPRECATED: Will be moved to @myparcel-dev/frontend-form-builder"
          npm deprecate "@myparcel-pdk/delivery-options" "DEPRECATED: Will be moved to @myparcel-dev/delivery-options"
          npm deprecate "@myparcel-pdk/e2e" "DEPRECATED: Will be moved to @myparcel-dev/e2e"
          npm deprecate "@myparcel-pdk/admin-testing" "DEPRECATED: Will be moved to @myparcel-dev/admin-testing"
          npm deprecate "@myparcel-pdk/admin-common" "DEPRECATED: Will be moved to @myparcel-dev/admin-common"
          npm deprecate "@myparcel-pdk/admin-form-builder" "DEPRECATED: Will be moved to @myparcel-dev/admin-form-builder"
          npm deprecate "@myparcel-pdk/checkout-core" "DEPRECATED: Will be moved to @myparcel-dev/checkout-core"
          npm deprecate "@myparcel-pdk/admin-core" "DEPRECATED: Will be moved to @myparcel-dev/admin-core"
          
          echo "All 57 packages deprecated successfully"
